[Desktop Entry]
Encoding=UTF-8
Name=Solari
Comment=Solari P2P Cryptocurrency
Comment[fr]=Solari, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Solari, eşten eşe kriptografik sanal para birimi
Exec=solari-qt %u
Terminal=false
Type=Application
Icon=solari128
MimeType=x-scheme-handler/solari;
Categories=Office;Finance;
