[Unit]
Description=Solari's distributed currency daemon
After=network.target

[Service]
User=solari
Group=solari

Type=forking
PIDFile=/var/lib/solarid/solarid.pid
ExecStart=/usr/bin/solarid -daemon -pid=/var/lib/solarid/solarid.pid \
-conf=/etc/solari/solari.conf -datadir=/var/lib/solarid -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
